<%if !comment.commenter.nil?%>
<p>
  <%= link_to 'X', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "btn btn-danger btn-sm"%>
  <strong><%= comment.commenter %>: </strong>
  <%= comment.body %>
  
</p>

<% end %>