<%= form_with model: [ @article, @article.comments.build ], :class => "form-group" do |form| %>
  <p>
    <%= form.text_field :commenter, :class => "form-control", :placeholder => "Name", :required => true %>
  </p>
  <p>
    <%= form.text_area :body, :class => "form-control", :placeholder => "Comment", :required => true %>
  </p>
  <button type="submit" class="btn btn-primary">Comment</button>
<% end %>
