<%= form_with model: article, :class => "form-group" do |form| %>
  <br>
  <%= form.text_field :title, :class => "form-control", :placeholder => "Title", :required => true %>
  <br>
  <%= form.text_area :body, :class => "form-control", :placeholder => "Text", :required => true %>
  <br>
  <button type="submit" class="btn btn-primary">Post</button>
  
<% end %>