<form action="/articles/search" class="alert alert-secondary" style="padding-right: 50%">
  <input type="text" class="form-control frm-sm" name="q" placeholder="Search" value=<%= searchword %>><br>
  <button type="submit" class="btn btn-info">Search</button>
</form><br><br>