<center>
  <h1>Simple<span class="badge badge-success">Blog</span></h1>
  <br>
  <h3>Posted articles: <%= Article.public_count %></h3>
  <%= button_to "New Post", new_article_path, :method => :get, :class => "btn btn-info" %>
  </div>

  <br> <br>
</center>

<dl>
  <% @articles.each do |article| %>
    <dt>
    <%= link_to article.title, article %>
    </dt>
    <dd>
    <%= article.body %>
    </dd>
    <br>
  <% end %>
</dl>