<%= button_to "Back", articles_path, :method => :get, :class => "btn btn-secondary" %><br>

<%= render 'articles/searchform', searchword: params[:q] %>

<% if @articles.count > 0 %>
<h3 class="alert alert-light">Search results:</h3><br><br>

<dl>
  <% @articles.each do |article| %>
    <dt>
    <%= link_to article.title, article %>
    </dt>
    <dd>
    <%= article.body %>
    </dd>
    <br>
  <% end %>
</dl>

<% else %>

<h3 class="alert alert-danger">Nothing found!</h3>

<% end %>